﻿@charset "utf-8";

/* © EricchiYukia 2019 */

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans-Regular.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans-Light.woff") format('woff');
  font-weight: 300;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans-LightItalic.woff") format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans-Bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans-Italic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans-BoldItalic.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Marcha";
  src: url("../fonts/Marcha.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "Marcha";
  src: url("../fonts/Marcha.woff") format('woff');
  font-style: normal;
}


html, body {
    font-family: 'NotoSans';
  }

p {
  font-family: 'NotoSans';
}

a {
	text-decoration: none;
	color: #ab47bc;
}

img.iconasocial {
  width: 3rem;
  margin-right: 1rem;
}

img.barlogo {
  height: 64px;
}

.btn {
  margin: 0.2em;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: radial-gradient(4rem,
    rgba(255,255,255,0) 80%, 
    #494949 80%, #4f4f4f 99%, 
    rgba(255,255,255, 0) 
    ) 0 0,
    radial-gradient(4rem,
    rgba(255,255,255,0) 80%, 
    #414141 80%, #525252 99%,  
    rgba(255,255,255, 0) 
    ) 4em 4em,
    radial-gradient(4.7rem,
    rgba(255,255,255,0) 50%, 
    #3a3a3a 50%,
    #292929 75%, #2c2c2c 99%, 
    rgba(255,255,255, 0) 
    ) 4em 4em,
    radial-gradient(4.7rem,
    rgba(255,255,255,0) 50%, 
    #4f4f4f 50%,
    #373737 75%, #222222 99%, 
    rgba(255,255,255, 0) 
    ) 0 0;
  background-size: 8rem 8rem;
  background-color: #3c3c3c;
}

.message {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: white;
  line-height: 27px;
  font-size: 18px;
  text-align: center;
  pointer-events: none;
  opacity: 0;
}

h1 {
	font-family: 'NotoSans', cursive;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

h2{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	font-family: 'NotoSans', cursive;
	margin-bottom: 0.5em;
}

h3{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	font-family: 'NotoSans', cursive;
	margin-bottom: 0.5em;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

h4 {
  font-weight: normal;
}

hr {
  width: 80%;
  border: 1px solid #D4AA00;
}

img.separe {
  padding-top:1em;
  height: 144px;
}

/* Container testo in-pic */
div.container-image {
  position: relative;
  text-align: center;
}

.va-top {
  vertical-align: top !important;
}

div.bottom-image {
  position:absolute;
  bottom: 0px;

  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  vertical-align: bottom;
  text-shadow: 0px 0px 6px #000000, 0px 0px 6px #000000, 0px 0px 6px #000000, 0px 0px 6px #000000, 0px 0px 6px #000000;
}

p {
  line-height: 2rem;
}

.modal {
  min-height: min-content;
  max-height: 92vw;
  min-width: min-content;
  max-width: 92vh;
  width: 92vw;
}

.spacerperbeatrice {
  padding-top: 12em;
}

img.avatar {
  border-radius: 50%;
  max-width: 100%;
  text-align: center;
}

.sidenav {
  background-color: #444444;
  color: #ffffff;
}

.sidenav li a {
  color: #ffffff;
}

.sidenav-trigger {
  color: #26a69a;
}

.section {
  background-color: rgba(255, 255, 255, 0.9);
}

nav {
  position: relative;
}

.btn, .btn-small, .btn-large, .navbar {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;;
}

li .waves-effect {
  display: block;
}

#wrapper {
  position: relative;
}

#bottompic {
  position: absolute;
  bottom: 0;
  right: 0.5em;
  padding-bottom: 0;
  line-height: 0;
}

.descstreghe {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.poster {
  max-width: 100%;
}

img#beatoriche.beato {
  max-height: 30em;
  max-width: 30em;
  bottom: 0;
}

.bganime {
  text-align: center;
}

.question {
  font-size: 1.5em;
  font-family: 'NotoSans';
  margin-bottom:0;
}

.answer {
  padding-bottom: 1em;
  margin-top: 0;
}

.mobileonly {
  display: none;
}

.no-pad {
  padding: 0 !important;
}

.margincenter {
  margin-left: auto;
  margin-right: auto;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }

  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }

  img.avatar {
    max-width: 60%;
  }

  footer.page-footer {
    margin: 0;
  }

	.desc {
		display:none;
	}
  .logo{
    max-height: 200px;
  }

  img.barlogo {
    height: 56px;
  }

  .parallax-container {
    min-height: 240px;
  }
  .custom-section-logo{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container {
    margin: 0;
    width: 100%;
  }

  .brand-logo {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .beatospace {
    width: 100%;
  }

  img.separe {
    padding-top:2em;
    height: 96px;
  }

  p {
    font-size: 15px;
  }
  
  .mobileonly {
    display: block;
  }

  .spacermobile {
    padding-top: 2rem;
  }

  .spacerperbeatrice {
    padding-top: 1em;
  }

  .navbar {
    position: relative;
    height: 56px;
    z-index: 997;
    position: fixed;
    width: 100%;
    top: 0;
  }

  .poster {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Tablet min */
@media only screen and (min-width: 601px) {

  .custom-section-logo{
    padding-top: 43px;
    padding-bottom: 43px;
  }
	img.logo {
	   max-width: 35em;
     margin: 0 auto;
	}
  .brand-logo{
    padding-left: 18px !important;
  }

  .row .col{
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  div.beatospace {
    width: 70% !important;
  }

  p {
    font-size: 16px;
  }

  div.avatar {
    margin-left: auto;
    margin-right: auto;
    max-width: 20em;
    text-align: center;
  }

  /* Tablet max */
  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }

    #wrapper {
      position: relative;
    }

    .container {
      width: 92%;
    }

    img.separe {
      padding-top:2em;
      height: 128px;
    }
  
    #bottompic {
      position: absolute;
      bottom: 0;
      right: 1em;
      padding-bottom: 0;
      line-height: 0;
    }
  
    img#beatoriche.beato {
      max-height: 20em;
      max-width: 20em;
      bottom: 0;
    }

    img.avatar {
      max-width: 65%;
      text-align: center;
    }

    .spacerperbeatrice {
      padding-top: 5em;
    }
  }
}