<div class="navbar">
    <nav>
        <div class="nav-wrapper purple darken-2">
            <a class="brand-logo white-text" href="index.html"><img class="barlogo" src="images/logohorizon.png" /></a>
            <div id="breadcrumb"></div>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger white-text"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="waves-effect waves-dark"><a href="index.html">Home page</a></li>
                <li class="waves-effect waves-dark"><a href="anime/index.html">Anime</a></li>
                <li class="waves-effect waves-dark"><a href="vn/index.html">Visual Novel</a></li>
                <li class="waves-effect waves-dark"><a href="info.html">Info & FAQ</a></li>
            </ul>
        </div>
    </nav>
  
