
    <div class="container">
            <div class="row">
                <div class="col l8 s12 m8 beatospace">
                    <a href="https://t.me/majotachinosub" target="_blank"><img class="iconasocial" src="images/icons/telegram.png" alt="Telegram" /></a> <a href="https://www.instagram.com/majotachi_no_sub/" target="_blank"><img class="iconasocial" src="images/icons/instagram.png" alt="Instagram" /></a>
                    <h5 class="white-text">2022 &middot; Majotachi no Sub</h5>
                   <p class="grey-text text-lighten-4">Sito creato con amore e un pizzico di follia da <a href="https://ericchi.moe" target="_blank">EricchiYukia</a>.</p>
                </div>
            </div>
    </div>
</footer>

<audio id="ahaha">
    <source src="audio/ahaha.ogg" type="audio/ogg">
    <source src="audio/ahaha.mp3" type="audio/mpeg">
</audio>
<div id="wrapper">
    <div id="bottompic">
        <img class="beato hide-on-small-only" id="beatoriche" onclick="beatoriche()" src="images/Bea_a11_1_def3.png" />
    </div>
</div>