 <home>
    <script type="text/javascript">
        window.onload = function() {
            if (parent) {
                var oHead = document.getElementsByTagName("head")[0];
                var arrStyleSheets = parent.document.getElementsByTagName("style");
                for (var i = 0; i < arrStyleSheets.length; i++)
                    oHead.appendChild(arrStyleSheets[i].cloneNode(true));
            }
        }
        </script>
 </home>


  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <p class="mobileonly"><br /></p>
      <div class="row">
        <div class="col s12 m12">
          <div class="row s12 m12">
            <div class="col s12 m12">
              <h4 class="center">Le Streghe vi porgono un caloroso benvenuto nella Terra Dorata delle traduzioni!</h4>
              <p class="light">
                Solitamente ci piace ammazzare il tempo intrattenendoci con <i>divertenti loop temporali</i>, guardando insulsi comuni mortali sfidare la loro stessa sorte... Ma ormai queste cose non ci divertono più, quindi abbiamo deciso di dedicare la nostra <i>infinita esistenza</i> a traduzioni di tutti i tipi e ovviamente al nostro stesso racconto intitolato <b>“Umineko no <span class="red-text">Na</span>ku koro ni”</b>!
              </p>
              <p class="light">
                Vi delizieremo con nuovi stagionali e vecchie serie che implorano noi <b>Streghe dell'Infinto</b> di salvarle dal loro stesso destino di scomparire, portandole una volta per tutte tradotte in lingua italiana. Ricordate, mai sottovalutare il <i>potere di una vera Strega</i>!
              </p>
              <p class="light">
                Un saluto dallo Staff di <b>Majotachi no Sub</b>.
              </p>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col l6 s6 m6">
                <h5 class="center">Visual Novel</h5>
                <p class="light">

                    <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content no-pad">
      <video class="responsive-video" src="videos/Strawberry Panic 04 - Il principe dal cavallo bianco 「白馬の君」 [Softsub ITA 720p - EricchiYukia].mkv" type='video/x-matroska; codecs="theora, vorbis"' controls>
      </video>
    </div>
    <div class="modal-footer">
      <a href="videos/Strawberry Panic 04 - Il principe dal cavallo bianco 「白馬の君」 [Softsub ITA 720p - EricchiYukia].mkv" class="waves-effect waves-purple btn-flat">Download</a>
      <a href="#!" class="modal-close waves-effect waves-purple btn-flat">Chiudi</a>
    </div>
  </div>
                  

                </p>
              </div>
              <div class="col l6 s6 m6">
                <h5 class="center">Anime</h5>
                <a href="test">
                <div class="container-image">
                  <img src="images/uminekobanner.jpg" class="" width="100%">
                  <div class="bottom-image">
                    Umineko no Naku koro ni
                  </div>
                </div>
              </a>
              </div>
            </div>
          </div>

          <div class="row s12 m12 l12">
            <h5 class="center">Majotachi no Sub</h5>
            <div class="col s12 m8 l8">
              <p class="light">Bla bla bla 2.</p>
              <p>Bla bla bla 3</p>
            </div>
            <div class="col s3 m0 l0 center"></div>
            <div class="col s6 m4 l4 center">
              <img class="materialboxed" width="100%" src="images/nagisa.png">Nagisa Aoi
            </div>
          </div>
            <div class="row s12 m12 l12">
              <div class="col s12 m12 l12">
                <p>Bla bla bla 4.</p>
              </div>
            </div>

          </div>
          <h4 class="center">Le streghe</h4>
          <div class="row s12 m12 l12">
            <div class="col s12 m4 l4">
              <div class="center-on-small-only avatar">
                <img class="avatar" src="images/avatars/gloriouslance.png" />
              </div>
              <h6>Glorious Lance</h6>
              <p class="light">Sono una Strega-Lancia che centra sempre il suo bersaglio. Ho incisioni antiche scritte nella lingua dei Kami, me ne vanto e so essere molto tronfia ed arrogante, ma conosciutami meglio mi so dimostrare una valida alleata.</p>
            </div>
            <div class="col s12 m4 l4">
              <div class="center-on-small-only avatar">
                <img class="avatar" src="images/avatars/sofiascarlet.jpg" />
              </div>
              <h6>Sofia Scarlet</h6>
              <p class="light">Sono la Strega Mangia-lingue. Con l'aiuto dei miei famigli felini, mi nutro di conoscenza. Badate bene che i miei famigli hanno un'inclinazione verso le lingue che pronunciano parole asiatiche. Se doveste sentire miagolii molesti nel cuore della notte, cominciate a scappare, perché subito dopo seguirà la vista di mille occhi di gatti famelici nel buio pronti a divorare le loro prede.</p>
            </div>
            <div class="col s12 m4 l4">
              <div class="center-on-small-only avatar">
                <img class="avatar" src="images/avatars/ericchi.png" />
              </div>
              <h6>EricchiYukia</h6>
              <p class="light">Io sono la Strega Virtuale. Come dice il mio titolo, apprezzo molto le arti digitali e mi diverto a vagare per la rete alla ricerca di nuovi mondi da scoprire. Se notate il vostro computer bloccarsi in modo strano o il touchscreen del vostro smartphone glitchare, potrei essere stata io durante un momento di noia.</p>
            </div>
          </div>
          <div class="row s12 m12 l12">
            <div class="col s12 m4 l4">
              <h6>Ericchi</h6>
              <p class="light">Io sono la Strega Virtuale. Come dice il mio titolo, apprezzo molto le arti digitali e mi diverto a vagare per la rete alla ricerca di nuovi mondi da scoprire. Se notate il vostro computer bloccarsi in modo strano o il touchscreen del vostro smartphone glitchare, potrei essere stata io durante un momento di noia.</p>
            </div>
          </div>
          <div class="row s12 m12 l12">

          </div>
            <div class="col s12 m8 l8">
              <p class="light">Sussy baka</p>
            </div>
        </div>
      </div>
    </div>